@model AucklandHighSchool.Models.ViewModel.SubjectDetailViewModel

@{
    ViewBag.Title = "Detail Subject";
}

<div>
    <h2>
        @Html.DisplayFor(model => model.Name)
        @Html.EditIconLinkSmall("Edit", "EditSubject", new { Id = Model.SubjectId })@Html.DeleteIconLinkPostSmall("Delete", "DeleteSubject", "Subject", "Id", Model.SubjectId.ToString())
    </h2>

    <h4>SubjectID: @Model.SubjectId</h4>

    <h3>
        @Html.LabelFor(model => model.TeacherList)
    </h3>

    <ul class="list-unstyled">
        @foreach (var item in Model.TeacherList)
        {

            <li>@Html.ActionLink(item.FirstName + " " + item.LastName, "DetailTeacher", "Teacher", new { Id = item.TeacherID }, null)</li>
        }
    </ul>

    <h3>
        @Html.LabelFor(model => model.ClassList)
    </h3>

    <ul class="list-unstyled">
        @foreach (var item in Model.ClassList)
        {

            <li>@Html.ActionLink(item.Name, "DetailClass", "Class", new { Id = item.ClassID }, null)</li>
        }
    </ul>

    <h3>
        @Html.LabelFor(model => model.StudentList)
    </h3>

    <ul class="list-unstyled">
        @foreach (var item in Model.StudentList)
        {

            <li>@Html.ActionLink(item.FirstName + " " + item.LastName, "DetailStudent", "Student", new { Id = item.StudentID }, null)</li>
        }
    </ul>

</div>

<br />

<div>
    @Html.BackToListIconLink("Back to List", "SubjectList")
</div>
