@model IEnumerable<AucklandHighSchool.Models.ViewModel.SubjectViewModel>

@{
    ViewBag.Title = "Subject List";
}

<h2>Subject List</h2>
<br />

<p>
    @Html.AddIconLink("Add Subject", "CreateSubject")
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentsCount)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentsCount)
            </td>
            <td>
                @Html.EditIconLink("Edit", "EditSubject", new { Id = item.Id})
                @Html.DetailIconLink("Detail", "DetailSubject", new { Id = item.Id })
                @Html.DeleteIconLinkPost("Delete", "DeleteSubject", "Subject", "Id", item.Id.ToString())  
            </td>
        </tr>
    }

</table>

@Html.BackIconLInk("Back", "Index", "Home")
