@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Emergency Contact</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/icons.css" rel="stylesheet" />
    <link href="~/Content/xeditable.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    <script src="~/App/vendors/angular.min.js"></script>
    <script src="~/App/vendors/angular-route.min.js"></script>
    <script src="~/App/vendors/ui-bootstrap.min.js"></script>
    <script src="~/App/vendors/ui-bootstrap-tpls.js"></script>
    
    <script src="~/App/vendors/angular-validator.min.js"></script>
    <script src="~/App/directives/date-time-picker/datetime-picker.js"></script>
    <script src="~/App/cobra-login-app.js"></script>
    <script src="~/App/services/CommonService.js"></script>
    <script src="~/App/directives/Shared/cobra-pop-over.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB74hCj5uU_cFTHH_e4toF0QbNdpq6Vu_k&libraries=places,drawing"></script>*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="cobra-app" style="vertical-align: middle; height: 100%;">
    
    <div class="layout-sec" style="height: 100%;">
        <div class="navigation-top-bar">
            <div class="container">
                <div class="logo">
                    <a href="#" title=""><i class="fa fa-deviantart"></i> Alex Swift Emergency Contact</a>
                </div>
                <ul class="account-header-link">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("EmergencyContact", "Manage")">Emergency Contact</a></li>
                        <li><a href="@Url.Action("UserManagement", "Admin")">User Management</a></li>
                        <li><a href="#">Set Safe Zone</a></li>
                        <li> <a href="@Url.Action("UserProfile", "Manage" )">Hello @User.Identity.GetUserName()</a></li>
                        <li> <a href="@Url.Action("LogOff", "Account")">LogOff</a></li>
                    }
                    else
                    {
                        <li><a title="" href="@Url.Action("Login", "Account")">Login</a></li>
                        <li><a title="" href="@Url.Action("ForgetPassword", "Account")">Forgot Your Password</a></li>
                        <li><a title="">Email us</a></li>
                    }
                </ul>
            </div>
        </div>
        
        @if (!Request.IsAuthenticated)
        {
            @:<div class="account-user-sec" >
                @RenderBody()
                
           @: </div>
        }
        else
        {
            @:<div class="body-sec">
                @RenderBody()
                @:
           @:</div>
        }


        <!-- Modal -->

        <footer>
            <div class="container">
                <p>
                    © @DateTime.Now.Year - Alex Swift Emergency Contact
                </p>
            </div>
        </footer>
    </div>
    <script src="/scripts/xeditable.js"></script>
    <script src="~/App/services/modalService.js"></script>
    <script src="~/App/services/modalValidation.js"></script>
    <script src="~/App/directives/modal/modal.js"></script>
    <script src="~/App/directives/modal/modal-component.js"></script>
</body>
</html>
