@model AucklandHighSchool.Models.ViewModel.TeacherDetailViewModel

@{
    ViewBag.Title = "Detail Teacher";
}

<div>
    <h2>
        @Html.DisplayFor(model => model.Name)
        @Html.EditIconLinkSmall("Edit", "EditTeacher", new { Id = Model.TeacherId, RedirectUrl = Request.Url.PathAndQuery })@Html.DeleteIconLinkPostSmall("Delete", "DeleteTeacher", "Teacher", "Id", Model.TeacherId.ToString())
    </h2>
    
    <h4>TeacherID: @Model.TeacherId</h4>

    <h3>
        @Html.LabelFor(model => model.Gender) @Html.DisplayFor(model => model.Gender)
    </h3>

    <h3>
        @Html.LabelFor(model => model.ClassList)
    </h3>

    <ul class="list-unstyled">
        @foreach (var item in Model.ClassList)
        {

            <li>@Html.ActionLink(item.Name, "DetailClass", "Class", new { Id = item.ClassID}, null)</li>
        }
    </ul>

    <div>
        @Html.ActionLink("Add/Remove Class", "TeacherClassList", new { TeacherId = Model.TeacherId }, new { @class = "btn btn-default" })
    </div>

    <h3>
        @Html.LabelFor(model => model.SubjectList)
    </h3>

    <ul class="list-unstyled">
        @foreach (var item in Model.SubjectList)
        {

            <li>@Html.ActionLink(item.Name, "DetailSubject", "Subject", new { Id = item.SubjectID }, null)</li>
        }
    </ul>

</div>

<br />

<div>
    @Html.IconGoBack("Back")
    @Html.BackToListIconLinkController("Back to List", "TeacherList", "Teacher")
</div>
