@using Microsoft.Owin.Security
@{ var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes(); }

@section scripts{
<script src="~/App/controllers/manage/ProfileCtrl.js"></script>
<script src="~/App/api/AutoCompleteAddress.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF1Nus-BmJkWyNInNx1Re0sqBa_CKuL_o&signed_in=true&libraries=drawing,places&callback=callAFunc"></script>  
}


<div class="main-content" ng-controller="manage/ProfileCtrl" ng-cloak>

    @Html.AntiForgeryToken()

    <div class="breadcrumbs">
        <ul>
            <li><a href="#/" title="">Home</a></li>
            <li><a href="#" title="">Profile Setting</a></li>
        </ul>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-md-12">
                <div class="billing-sec">

                    @*//*******IMAGE ON ******\\*@

                    <div class="row">
                        <div class="user-thumb">
                            <img src="~/Content/Images/thumbnail-placeholder.png" alt="">
                            <h3>Brian Kelly</h3>
                            <span><i class="fa fa-map-marker"></i> Auckland, NZ</span>
                        </div>
                    </div>

                    @*//****** USER DETAIL ON ****\\*@

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 field">
                                <label>First Name <span>*</span> </label>
                                <div class="small-grid-details"><label>{{data.ProfileModel.FirstName}}</label></div>

                            </div>
                            <div class="col-md-4 field">
                                <label>Middle Name <span></span> </label>
                                <div class="small-grid-details"><label>{{profile.MiddleName}}</label></div>
                            </div>
                            <div class="col-md-4 field">
                                <label>Last Name <span>*</span> </label>
                                <div class="small-grid-details"><label>{{profile.LastName}}</label></div>
                            </div>
                            <div class="col-md-6 field">
                                <label>Gender <span>*</span> </label>
                                <div class="small-grid-details"><label>{{data.PersonModel.Gender}}</label></div>
                            </div>
                            <div class="col-md-6 field">
                                <label>DoB <span>*</span> </label>
                                <div class="small-grid-details"><label>{{data.PersonModel.DoB}}</label></div>

                            </div>
                            <div class="col-md-12 field">
                                @*<button id="myBtn2" href="#addStudent" style="float:right" type="button" class="btns purple-skin sml-btn sml-radius" data-toggle="modal">Edit</button>*@

                                <button style="float:right" type="button" data-toggle="modal" data-dismiss="modal" class="btn btn-primary small" ng-click="openEditDetail()">Edit</button>
                                @*<a id="btnDetails" style="float:right" class="btns purple-skin sml-btn sml-radius" href="#editDetails">Edit</a>*@
                            </div>

                            @****** MODEL TEMPLATE editDetails ******@

                            <script type="text/ng-template" id="Template">
                                <modal-dialog>
                                    <div class="modal-header">
                                        <button class="close" type="button" data-dissmiss="modal" aria-label="close">
                                            <span aria-hidden="true">x</span>
                                        </button>
                                        <h4 class="modal-title">Edit Details</h4>
                                    </div>
                                    <div class="modal-body clearfix">
                                        <form name="userFormDetails">
                                            <div class="col-md-12">
                                                <div class="col-md-4 modalPadInput">
                                                    <label>First Name <span>*</span> </label>
                                                    <input name="nameFirstname" required maxlength="50" autofocus class="editBorder form-control" type="text" ng-model="modalData.ProfileModel.FirstName" />
                                                    <div ng-show="userFormDetails.nameFirstname.$dirty && userFormDetails.nameFirstname.$invalid ">
                                                        <span class="messageError" ng-show="userFormDetails.nameFirstname.$error.required">required.</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 modalPadInput">
                                                    <label>Middle Name <span></span> </label>
                                                    <input class="editBorder form-control" type="text" ng-model="modalData.ProfileModel.MiddleName" />
                                                </div>
                                                <div class="col-md-4 modalPadInput">
                                                    <label>Last Name <span>*</span> </label>
                                                    <input name="nameLastName" required class="editBorder form-control" type="text" ng-model="modalData.ProfileModel.LastName" />
                                                    <div ng-show="userFormDetails.nameLastName.$dirty && userFormDetails.nameLastName.$invalid ">
                                                        <span class="messageError" ng-show="userFormDetails.nameLastName.$error.required">required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6 modalPadInput">
                                                    <label>Gender <span>*</span> </label>
                                                    <select name="nameGender" required class="editBorder form-control" ng-model="modalData.PersonModel.Gender">
                                                        <option ng-repeat="gendertype in gendertypes" value="{{gendertype.abbrev}}">{{gendertype.abbrev}}</option>
                                                    </select>
                                                    <div ng-show="userFormDetails.nameGender.$dirty && userFormDetails.nameGender.$invalid ">
                                                        <span class="messageError" ng-show="userFormDetails.nameGender.$error.required">required.</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 modalPadInput">
                                                    <label>DoB <span>*</span> </label>
                                                    <p class="input-group">
                                                        <input name="nameDob" type="text" ng-model="modalData.PersonModel.DoB" popup-placement="bottom-right" class="editBorder form-control" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions.maxDate" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                    <div ng-show="userFormDetails.nameDob.$dirty && userFormDetails.nameDob.$invalid ">
                                                        <span class="messageError" ng-show="userFormDetails.nameDob.$error.required">required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>



                                    @*<div class='modal-header'>
                                            <button class="close" type="button" data-dissmiss="modal" aria-label="close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                            <h4 class="modal-title">Modal Title</h4>
                                            <h3 ng-bind='dialogTitle'></h3>
                                            <div ng-click='cancel()'>X</div>
                                        </div>*@
                                    @*<div>
                                            <input ng-model="myservice1.xxx" />
                                            <input ng-model="name1.name" />
                                        </div>
                                        <div>
                                            The value of xxx is: {{ myservice2.xxx }}
                                            The value of name is: {{ name2.name }}
                                        </div>*@
                                    <div class="modal-footer">
                                        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" ng-disabled="userFormDetails.$invalid" class="btn btn-primary" data-dismiss="modal" ng-click="cancel();postdata()">Save</button>
                                    </div>
                                </modal-dialog>
                            </script>





                            @*//****** ADDRESS ON *****\\*@

                            <div class="widget-title">
                                <h3>Address</h3>
                                <span>Your address detail below</span>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" data-ng-repeat="address in addresses">
                                        <div class="panel panel-default">
                                            <div class="panel-heading hidden">
                                                <h3 class="panel-title">Panel Heading</h3>
                                            </div>
                                            <div class="panel-body">
                                                <ng-form name="formAddress">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <span class="text-info" style="font:bold 16px; text-align:left" ng-repeat="addresstype in addresstypes">{{addresstype.Id === address.AddressTypeId ? addresstype.Name : null}}</span>
                                                            <span style="margin-left:50px" class="text-muted bg-primary" ng-show="address.IsPrimary">Primary </span>

                                                        </li>
                                                        <li class="list-group-item">
                                                            <span ng-show="editAddress">{{address.StreetNumber}}</span>
                                                            <span ng-hide="editAddress"><label>Street No.</label></span>
                                                            <input ng-hide="editAddress" name="nameStreetNumber" required maxlength="50" class="form-control" type="text" ng-model="address.StreetNumber" />
                                                            <div ng-show="formAddress.nameStreetNumber.$dirty && formAddress.nameStreetNumber.$invalid ">
                                                                <span class="messageError" ng-show="formAddress.nameStreetNumber.$error.required">Street No is required.</span>
                                                            </div>
                                                            <span ng-show="editAddress" style="margin-left:15px">{{address.StreetName}}</span>
                                                            <span ng-hide="editAddress"><label>Street Name</label></span>
                                                            <input ng-hide="editAddress" id="nameStreetName" name="nameStreetName" required maxlength="50" class="form-control" type="text" ng-model="address.StreetName" />
                                                            <div ng-show="formAddress.nameStreetName.$dirty && formAddress.nameStreetName.$invalid ">
                                                                <span class="messageError" ng-show="formAddress.nameStreetName.$error.required">Street Name is required.</span>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span ng-show="editAddress">{{address.Suburb}}</span>
                                                            <span ng-hide="editAddress"><label>Suburb</label></span>
                                                            <input ng-hide="editAddress" name="nameSuburb" required maxlength="50" class="form-control" type="text" ng-model="address.Suburb" />
                                                            <div ng-show="formAddress.nameSuburb.$dirty && formAddress.nameSuburb.$invalid ">
                                                                <span class="messageError" ng-show="formAddress.nameSuburb.$error.required">Suburb is required.</span>
                                                            </div>
                                                            <span ng-show="editAddress" style="margin-left:15px">{{address.City}}</span>
                                                            <span ng-hide="editAddress"><label>City</label></span>
                                                            <input ng-hide="editAddress" name="nameCity" required maxlength="50" class="form-control" type="text" ng-model="address.City" />
                                                            <div ng-show="formAddress.nameCity.$dirty && formAddress.nameCity.$invalid ">
                                                                <span class="messageError" ng-show="formAddress.nameCity.$error.required">Suburb is required.</span>
                                                            </div>
                                                        </li>

                                                        <li class="list-group-item">
                                                            <span ng-show="editAddress">{{address.State}}</span>
                                                            <span ng-hide="editAddress"><label>State</label></span>
                                                            <input ng-hide="editAddress" name="nameState" maxlength="50" class="form-control" type="text" ng-model="address.State" />

                                                            <span ng-show="editAddress" style="margin-left:15px">{{address.Country}}</span>
                                                            <span ng-hide="editAddress"><label>Country</label></span>
                                                            <input ng-hide="editAddress" name="nameCountry" required maxlength="50" class="form-control" type="text" ng-model="address.Country" />
                                                            <div ng-show="formAddress.nameCountry.$dirty && formAddress.nameCountry.$invalid ">
                                                                <span class="messageError" ng-show="formAddress.nameCountry.$error.required">Country is required.</span>
                                                            </div>
                                                            <span ng-show="editAddress" style="margin-left:15px">{{address.ZipCode}}</span>
                                                            <span ng-hide="editAddress"><label>ZipCode</label></span>
                                                            <input ng-hide="editAddress" name="nameZipCode" required maxlength="50" class="form-control" type="text" ng-model="address.ZipCode" />
                                                            <div ng-show="formAddress.nameZipCode.$dirty && formAddress.nameZipCode.$invalid ">
                                                                <span class="messageError" ng-show="formAddress.nameZipCode.$error.required">ZipCode is required.</span>
                                                            </div>
                                                        </li>

                                                        <li class="list-group-item">
                                                            <div class="btn-group" style="text-align:right">
                                                                <span><button type="button" class="btn btn-primary btn-xs" ng-click="openEditAddress($index)">Edit</button></span>
                                                                <span><button type="button" class="btn btn-danger btn-xs" ng-click="openDeletAddress($index)">Delete</button></span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </ng-form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <button ng-click="openAddAddress()" type="button" class="btns red-skin mdm-btn mdm-radius" data-toggle="modal" data-target="modal"><i></i>Add new address</button>
                            </div>
                        </div>



                        @****** MODEL TEMPLATE editAddress ******@

                        <script type="text/ng-template" id="idEditAddressTemplate">
                            <modal-dialog>
                                <div class="modal-header">
                                    <button class="close" type="button" data-dissmiss="modal" aria-label="close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                    <h4 class="modal-title">Edit Address</h4>
                                </div>
                                <div class="modal-body clearfix">
                                    <form name="userFormAddress">
                                        <div class="col-md-12">
                                            <div class="col-md-3 modalPadInput">
                                                <label>Primary</label>
                                                <input ng-model="modalDataAddress.IsPrimary" class="form-control" id="idPrimaryAddress" style="width:20px; height:20px; margin-left:20px" type="checkbox" value="">
                                            </div>
                                            <div class="col-md-4 modalPadInput">
                                                <label>Address Type <span>*</span> </label>
                                                @*ng-options="i.value as (i.label + ' - ' + i.value) for i in inputDevice"*@
                                                @*<select class="form-control" required name="nameAddressType" ng-model="stringAddressTypeId" ng-options="i.Id as (i.Name) for i in addresstypes">

                                                    </select>*@
                                                <select class="form-control" required name="nameAddressType" id="idAddressType" ng-model="stringAddressTypeId">
                                                    <option ng-repeat="addresstype in addresstypes" value="{{addresstype.Id}}">
                                                        {{addresstype.Name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3 modalPadInput">
                                                <label>Strret No <span>*</span> </label>
                                                <input name="nameStreetNo" ng-model="modalDataAddress.StreetNumber" id="idStNumber" class="form-control" type="text" required autofocus />
                                                <div ng-show="userFormAddress.nameStreetNo.$dirty && userFormAddress.nameStreetNo.$invalid ">
                                                    <span class="messageError" ng-show="userFormAddress.nameStreetNo.$error.required">required.</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9 modalPadInput">
                                                <label>Street Name <span>*</span> </label>
                                                <input name="nameStreetName" ng-model="modalDataAddress.StreetName" id="idStName" class="form-control" type="text" required />
                                                <div ng-show="userFormAddress.nameStreetName.$dirty && userFormAddress.nameStreetName.$invalid ">
                                                    <span class="messageError" ng-show="userFormAddress.nameStreetName.$error.required">required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6 modalPadInput">
                                                <label>Suburb <span>*</span> </label>
                                                <input name="nameSuburb" ng-model="modalDataAddress.Suburb" id="IdSuburb" class="form-control" type="text" required />
                                                <div ng-show="userFormAddress.nameSuburb.$dirty && userFormAddress.nameSuburb.$invalid ">
                                                    <span class="messageError" ng-show="userFormAddress.nameSuburb.$error.required">required.</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 modalPadInput">
                                                <label>City <span>*</span> </label>
                                                <input name="nameCity" ng-model="modalDataAddress.City" id="IdCity" class="form-control" type="text" required />
                                                <div ng-show="userFormAddress.nameCity.$dirty && userFormAddress.nameCity.$invalid ">
                                                    <span class="messageError" ng-show="userFormAddress.nameCity.$error.required">required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-2 modalPadInput">
                                                <label>State <span></span> </label>
                                                <input name="nameState" ng-model="modalDataAddress.State" id="IdState" class="form-control" type="text" />
                                            </div>
                                            <div class="col-md-5 modalPadInput">
                                                <label>Country <span>*</span> </label>
                                                <input name="nameCountry" ng-model="modalDataAddress.Country" id="IdCountry" class="form-control" type="text" required />
                                                <div ng-show="userFormAddress.nameCountry.$dirty && userFormAddress.nameCountry.$invalid ">
                                                    <span class="messageError" ng-show="userFormAddress.nameCountry.$error.required">required.</span>
                                                </div>
                                            </div>
                                            <div class="col-md-5 modalPadInput">
                                                <label>ZipCode <span>*</span> </label>
                                                <input name="nameZipCode" ng-model="modalDataAddress.ZipCode" id="IdZipcode" class="form-control" type="text" required />
                                                <div ng-show="userFormAddress.nameZipCode.$dirty && userFormAddress.nameZipCode.$invalid ">
                                                    <span class="messageError" ng-show="userFormAddress.nameZipCode.$error.required">required.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" ng-disabled="userFormAddress.$invalid" class="btn btn-primary" data-dismiss="modal" ng-click="cancel();saveEditAddress()">Save</button>
                                </div>
                            </modal-dialog>

                        </script>

                        @*>>>>>>>>> MODEL TEMPLATE TO DELETE ADDRESS START >>>>>>>>>>>>*@
                        <script type="text/ng-template" id="idDeleteAddressTemplate">
                            <div class="modal-header">
                                <button class="close" type="button" data-dissmiss="modal" aria-label="close">
                                    <span aria-hidden="true">x</span>
                                </button>
                                <h4 class="modal-title">Delete Address</h4>
                            </div>
                            <div class="modal-body clearfix">
                                <p style="font:bold">Do you want to delete?</p>
                                <input id="idLabelIndex" class="hidden" value="{{recordIndex}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel();removeAddress($index)">Yes</button>
                                <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </script>
                        @*<<<<<<<<<  MODEL TEMPLATE TO DELETE ADDRESS END <<<<<<<*@

                        @*>>>>>>>>>>>> MODEL TEMPLATE TO ADD NEW ADDRESS START >>>>>>>>*@

                        <script type="text/ng-template" id="idAddNewAddressTemplate">
                            <div class="modal-header">
                                <button class="close" type="button" data-dissmiss="modal" aria-label="close">
                                    <span aria-hidden="true">x</span>
                                </button>
                                <h4 class="modal-title">Add Address</h4>
                            </div>
                            <div class="modal-body clearfix" ng-controller="tempC">
                                <form name="userFormAddaddress" id="userFormAddaddressId">

                                    <div class="col-md-12">
                                        <div class="col-md-11 modalPadInput">
                                            <label style="margin-bottom:20px">Add New Address here!</label>
                                            <input class="form-control" id="input123456" type='text' />
                                            @*@Html.TextBox("input")*@
                                        </div>
                                    </div>

                                    <div class="col-md-3 modalPadInput">
                                        <label>Address Type</label>
                                        <select class="form-control" required id="addressType" name="addressType" ng-model="addAddress.AddressTypeId" style="width:150px">
                                            <option ng-repeat="addresstype in addresstypes" value="{{addresstype.Id}}">
                                                {{addresstype.Name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 modalPadInput">
                                        <label>Street No</label>
                                        <input class="form-control" required id="street_number" md-maxlength="10" name="firstname" ng-model="addAddress.StreetNumber" />
                                    </div>

                                    <div class="col-md-3 modalPadInput">
                                        <label>Street Name</label>
                                        <input class="form-control" required id="route" md-maxlength="30" name="nameStreetname" ng-model="addAddress.StreetName" />
                                    </div>

                                    <div class="col-md-3 modalPadInput">
                                        <label>Suburb</label>
                                        <input class="form-control" required id="administrative_area_level_2" md-maxlength="30" name="nameSuburb" ng-model="addAddress.Suburb" />
                                    </div>


                                    <div class="col-md-3 modalPadInput">
                                        <label>Country</label>
                                        <input class="form-control" required id="country" md-maxlength="30" name="nameCountry" ng-model="addAddress.Country" role="alert" />
                                        @*<md-select required id="country" name="nameCountry" ng-model="address.Country">
                                                <md-option ng-repeat="country in countrytypes" value="{{country.Name}}">
                                                    {{country.Name}}
                                                </md-option>
                                            </md-select>*@
                                    </div>

                                    <div class="col-md-3 modalPadInput">
                                        <label>City</label>
                                        <input class="form-control" required id="locality" md-maxlength="30" name="nameCity" ng-model="addAddress.City" role="alert" />
                                    </div>


                                    <div class="col-md-3 modalPadInput">
                                        <label>State</label>
                                        <select class="form-control" id="administrative_area_level_1" name="nameState" ng-model="addAddress.State">
                                            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                {{state.abbrev}}
                                            </md-option>
                                        </select>
                                    </div>

                                    <div class="col-md-3 modalPadInput">
                                        <label>Zip Code</label>
                                        <input class="form-control" required id="postal_code" md-maxlength="10" name="nameZip" ng-model="addAddress.ZipCode" />
                                    </div>

                                    <div style="width: 100%; margin-top:30px; text-align: right">
                                        <button class="md-primary" ng-click="resetform()">Reset</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Yes</button>
                            </div>
                        </script>

                        @*<<<<<<<<<<<<<< MODEL TEMPLATE TO ADD NEW ADDRESS END <<<<<<<<<*@

                        @*//******** PHONE ******\\*@

                        <div class="col-md-12">
                            <div class="widget-title">
                                <h3>Phone</h3>
                                <span>Your phone detail below</span>
                            </div>
                            <div class="small-grid" data-ng-repeat="phoneNumber in phoneNumbers">
                                <div class="col-md-1" style="color:forestgreen; font:icon">
                                    <span ng-show="phoneNumber.IsPrimary">Primary</span>
                                </div>
                                <div class="col-md-1" style="text-align:center">
                                    <span ng-show="phoneNumber.IsMobile"><i class="glyphicon glyphicon-phone"></i></span>
                                </div>
                                <div id="phoneTypeName" class="col-md-1" style="padding:0px; color:blue">
                                    <span ng-repeat="phonetype in phonetypes">{{phoneNumber.PhoneTypeId === phonetype.Id ? phonetype.Name : null}}</span>
                                </div>
                                <div id="phoneCountryCode" class="col-md-1" style="padding:0px">
                                    <span ng-repeat="countrytype in countrytypes">{{phoneNumber.CountryId === countrytype.Id ? countrytype.CountryCode : null}}</span>
                                </div>
                                <div class="col-md-5" style="padding:0px">
                                    <span>{{phoneNumber.Number}}</span>
                                </div>

                                <div class="col-md-3">
                                    <div class="layout-align-end-center">
                                        <button type="button" class="btns purple-skin sml-btn sml-radius" data-toggle="modal" data-target="#common-modal">Edit</button>
                                        <button type="button" class="btns red-skin sml-btn sml-radius">Remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btns red-skin mdm-btn mdm-radius" data-toggle="modal" data-target="#common-modal"><i></i>Add new phone</button>
                            </div>
                        </div>

                        @*//******EMAIL*****\\*@

                        <div class="col-md-12">
                            <div class="widget-title">
                                <h3>Email address</h3>
                                <span>Your email detail below</span>
                            </div>
                            <div class="small-grid" data-ng-repeat="email in emails">
                                <div class="col-md-1" style="color:forestgreen; font:icon">
                                    <span ng-show="email.IsPrimary">Primary</span>
                                </div>
                                <div id="emailTypeName" class="col-md-1" style="color:blue">
                                    <span ng-repeat="emailtype in emailtypes">{{email.EmailTypeId === emailtype.Id ? emailtype.Name : null}}</span>
                                </div>
                                <div class="col-md-7" style="padding:0px">
                                    <span>{{email.Email}}</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="layout-align-end-center">
                                        <button type="button" class="btns purple-skin sml-btn sml-radius" data-toggle="modal" data-target="#common-modal">Edit</button>
                                        <button type="button" class="btns red-skin sml-btn sml-radius">Remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btns red-skin mdm-btn mdm-radius" data-toggle="modal" data-target="#common-modal"><i></i>Add new email</button>
                            </div>
                        </div>

                        <div class="col-md-12 field">
                            <div class="widget-title">
                                <h3>Enable or Disable My Location</h3>
                                <span>Toggle button to change location setting</span>
                                <div class="show-elements">
                                    <div class="toggleWrapper">
                                        <input type="checkbox" id="dndo" class="dn" />
                                        <label for="dndo" class="toggle"><span class="toggle__handler"></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*  Author Aakash
                            to capture socialmedia details
                        *@
                        <div>
                          
                            @using (Html.BeginForm("CreateSocialMedia", "Manage"))
                            {
                                @Html.AntiForgeryToken()
                                <p><b> Register your social Media</b></p>
                             

                                <ul style="list-style-type:none;">
                                    @foreach (AuthenticationDescription p in loginProviders)
                                    {
                                        <li>
                                            @if (p.AuthenticationType == "Google")
                                            {
                                               
                                                <button type="submit"  ng-if="socialMediaGo.length != null"  @*ng-disabled="isDisabled" ng-click="DisableButton()"*@ class="btn btn-danger googleplus"  id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-google-plus"></i></button>
                                                <p ng-show="socialMediaGo.length !== 0">Google Registered</p>
                                            <br />
                                            <br />
                                                    
                                            }

                                            else if (p.AuthenticationType == "Facebook")
                                            {
                                                <p ng-show="socialMediaFa.length !== 0">Facebook Regestered</p>
                                                <button type="submit"  ng-if="socialMediaFa.length != null"  @*ng-disabled="isDisabled" ng-click="DisableButton()"*@ class="btn  btn-primary facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-facebook"></i></button>
                                                <br />
                                            }
                                        </li>
                                    }
                                </ul>
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- Panel Content -->
</div>

<style>
    .pac-container {
        z-index: 10000 !important;
       display: block !important;
    }


    .editBorder {
        background-color: #ddf4fa;
    }

    .messageError {
        color: red;
        text-align: left;
        width: 230px;
        font-weight: bold;
        padding-left: 0px;
    }

    .features-boxed {
        color: #313437;
        background-color: #eef4f7;
    }

    .panel-body {
        padding: 0px;
    }

    .list-group-item {
        height: 100%;
        position: relative;
        display: block;
        padding: 4px 15px;
        margin-bottom: -1px;
        background-color: #edebeb;
        border: 0px solid #ddd;
        font-size: 13px;
    }

        .list-group-item input {
            padding: 0px 5px 0px 5px;
            height: 100%;
            width: 100%;
            margin: 5px;
            margin-left: 0px;
        }

    .list-group {
        padding-left: 0;
        margin-bottom: 0px;
        border: thick;
    }

    .bg-primary {
        color: #fff;
        background-color: #337ab7;
    }
</style>