@model IEnumerable<AucklandHighSchool.Models.ViewModel.ClassViewModel>

@{
    ViewBag.Title = "Class List";
}

<h2>Class List</h2>
<br />

<p>
    @Html.AddIconLink("Add Class", "CreateClass")
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentsCount)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentsCount)
            </td>
            <td>
                @Html.EditIconLink("Edit", "EditClass", new { Id = item.Id })
                @Html.DetailIconLink("Detail", "DetailClass", new { Id = item.Id })
                @Html.DeleteIconLinkPost("Delete", "DeleteClass", "Class", "Id", item.Id.ToString())                               
            </td>
        </tr>
    }

</table>

@Html.BackIconLInk("Back", "Index", "Home")
