@model AucklandHighSchool.Models.ViewModel.ClassDetailViewModel

@{
    ViewBag.Title = "Detail Class";
}

<div>
    <h2>
        @Html.DisplayFor(model => model.Name)
        @Html.EditIconLinkSmall("Edit", "EditClass", new { Id = Model.ClassId, RedirectUrl = Request.Url.PathAndQuery })@Html.DeleteIconLinkPostSmall("Delete", "DeleteClass", "Class", "Id", Model.ClassId.ToString())
    </h2>

    <h4>ClassID: @Model.ClassId</h4>

    <h3>
        @Html.LabelFor(model => model.SubjectProperty) @Html.ActionLink(Model.SubjectProperty.Name, "DetailSubject", "Subject", new { Id = Model.SubjectProperty.SubjectID }, null)
    </h3>

    <h3>
        @Html.LabelFor(model => model.TeacherProperty) @Html.ActionLink(Model.TeacherProperty.FirstName + " " + Model.TeacherProperty.LastName, "DetailTeacher", "Teacher", new { Id = Model.TeacherProperty.TeacherID }, null) 
    </h3>

    <h3>
        @Html.LabelFor(model => model.StudentList)
    </h3>

    <ul class="list-unstyled">
        @foreach (var item in Model.StudentList)
        {

            <li>@Html.ActionLink(item.FirstName + " " + item.LastName, "DetailStudent", "Student", new { Id = item.StudentID }, null)</li>
        }
    </ul>

    <div>
        @Html.ActionLink("Add/Remove Enrollment", "ClassEnrollmentList", new { ClassId = Model.ClassId }, new { @class = "btn btn-default" })
    </div>

</div>

<br />

<div>
    @Html.IconGoBack("Back")
    @Html.BackToListIconLinkController("Back to List", "ClassList", "Class")
</div>
