@model IEnumerable <MvcApplication2.Models.Product> 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Add", "Add")
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach(var item in Model)
        { 
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Category)
                </td>
                <td>
                    @Html.ActionLink("Detail", "Detail", new {id = item.Id})
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }
    </table>
    <br />
    @Html.ActionLink("Search", "Search")
</div>
