@model MvcApplication2.Models.Product

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.EditorFor(model => model.Id)
    </div>

    <p>
        <input type="submit" value="Search">
    </p>

}

<div>
    @Html.DisplayFor(model => model.Id)
    @Html.DisplayFor(model => model.Name)
    @Html.DisplayFor(model => model.Category)
</div>
<br />

<p>
    @Html.ActionLink("Add", "Add")
</p>

