@model AucklandHighSchool.Models.ViewModel.EnrollmentListViewModel
@{
    ViewBag.Title = "Enrollment List by Student";
}

<h2>Add/Remove Enrollments by Student</h2>

@using (Html.BeginForm("EnrollmentAdd", "Student"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student: @Model.Student.FirstName  @Model.Student.LastName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <h4 style="display: inline-block">Class: &nbsp;</h4>
                @Html.DropDownList("ClassID", (IEnumerable<SelectListItem>)ViewBag.ClassList, htmlAttributes: new { @class = "form-control", style = "display: inline-block" }) &nbsp;
                @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
                @Html.Hidden("StudentID", Model.Student.StudentID)
                @Html.AddIconButtonSubmit("Add")
                <button type="button" class="btn btn-default" onclick="ShowClassDetail()">Detail</button>
            </div>
        </div>
    </div>
}

<table class="table" style="width: 800px">
    <tr>
        <th>
            Enrollment ID
        </th>
        <th>
            Class Name
        </th>
        <th>
            Subject Name
        </th>
        <th>
            Teacher Name
        </th>
        <th>
            # Enrollment
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model.Evms)
    {
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => item.EnrollmentID)
            </td>
            <td>
                @Html.ActionLink(item.Class.Name, "DetailClass", "Class", new { Id = item.Class.ClassID }, null)
            </td>
            <td>
                @Html.ActionLink(item.Subject.Name, "DetailSubject", "Subject", new { Id = item.Subject.SubjectID }, null)
            </td>
            <td>
                @Html.ActionLink(item.Teacher.FirstName + " " + item.Teacher.LastName, "DetailTeacher", "Teacher", new { Id = item.Teacher.TeacherID }, null)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.EnrollmentsCount)
            </td>
            <td>
                @Html.DeleteLinkPost("Remove", "EnrollmentRemove", "Student", "EnrollmentId", item.EnrollmentID.ToString())
            </td>
        </tr>
    }

</table>

<br />

<div>
    @Html.IconLink("Back to Student", "DetailStudent", new { Id = Model.Student.StudentID }, "glyphicon glyphicon-chevron-left", new { @class = "btn btn-primary" })
    @Html.BackToListIconLinkController("Back to List", "StudentList", "Student")
</div>

<script type="text/javascript" language="javascript">
    function ShowClassDetail() {
        var e = document.getElementById("ClassID");
        var ClassID = e.options[e.selectedIndex].value;
        var url = '@Url.Action("DetailClass","Class")';
        window.location.assign(url + '?Id=' + ClassID);
    }
</script>

